<%- include('../header') -%>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <%- include('../navbar') -%>
            <!-- End Navbar -->
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card my-4">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                    <h6 class="text-white text-capitalize ps-3">Update Admin</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/admin/updateAdminData" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="adminId" value="<%= oldAdminData.id %>">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-outline my-3">
                                                <input type="text" name="firstName" class="form-control"
                                                    value="<%= oldAdminData.firstName %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group input-group-outline my-3">
                                                <input type="text" name="lastName" class="form-control"
                                                    value="<%= oldAdminData.lastName %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-outline my-3">
                                                <input type="email" name="email" class="form-control"
                                                    value="<%= oldAdminData.email %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group input-group-outline my-3">
                                                <input type="text" name="contactNumber" class="form-control"
                                                    value="<%= oldAdminData.contactNumber %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="my-3">
                                                <label>Gender</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gender" id="male"
                                                        value="Male" <%=oldAdminData.gender=='Male' ? 'checked' : '' %>>
                                                    <label class="form-check-label" for="male">Male</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="gender"
                                                        id="female" value="Female" <%=oldAdminData.gender=='Female'
                                                        ? 'checked' : '' %>>
                                                    <label class="form-check-label" for="female">Female</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="my-3">
                                        <label>Hobby</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="hobby" id="reading"
                                                value="Reading" <%=oldAdminData.hobby.includes('Reading') ? 'checked'
                                                : '' %>>
                                            <label class="form-check-label" for="reading">Reading</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="hobby" id="travelling"
                                                value="Travelling" <%=oldAdminData.hobby.includes('Travelling')
                                                ? 'checked' : '' %>>
                                            <label class="form-check-label" for="travelling">Travelling</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="hobby" id="music"
                                                value="Music" <%=oldAdminData.hobby.includes('Music') ? 'checked' : ''
                                                %>>
                                            <label class="form-check-label" for="music">Music</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="hobby" id="surfing"
                                                value="Surfing" <%=oldAdminData.hobby.includes('Surfing') ? 'checked'
                                                : '' %>>
                                            <label class="form-check-label" for="surfing">Surfing</label>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-outline my-3">
                                        <textarea name="description" class="form-control"
                                            placeholder="Description"><%= oldAdminData.description %></textarea>
                                    </div>
                                    <div class="input-group input-group-outline my-3">
                                        <input type="file" name="profileImage" class="form-control px-2">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit"
                                            class="btn bg-gradient-primary w-100 my-4 mb-2">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>

    <%- include('../footer') -%>